*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: yellow;
}
.header {
    width: 100%;
    height: 80px;
    background-color: rgb(217, 255, 0);
    text-align: left;
}

.header img {
    width: 250px;
    height: 70px;
    padding: 10px;
}
.nav{
    width: 99%;
    height: 20px;
}
.nav {
    text-align: center;
    background-color: #c1900b;
    padding: 18px;

}
.nav ul {
    list-style: none;

}

.nav ul li {
    display: inline;
    font-size: 18px;
    padding: 5px 20px;
    text-align: center;
    background-size: 200% auto;
    color: white;
    box-shadow: rgb(23 43 99 / 30%) 0 7px 28px;
    border-radius: 80px;
    background-image: linear-gradient(to right, #c1230b 0%, #ff5100 51%, #c1900b 100%);
}

.nav ul li a {
    font-size: 19px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav ul li:hover {
    display: inline;
    font-size: 20px;
    text-align: center;
    background-size: 200% auto;
    color: white;
    box-shadow: rgb(23 43 99 / 30%) 0 7px 28px;
    border-radius: 80px;
    background-image: linear-gradient(to right, #e96753 0%, #735749 51%, #ebc457 100%);
}



.article1{
    float: left; 
    background-color: #c0ff39;
    width: 80%; 
    height: auto;
}
.article2{
    float: left; 
    background-color: #ffe341;
    width: 80%; 
    height: auto;
}
.article3{
    float: left; 
    background-color: #95a734;
    width: 80%; 
    height: auto;
}
h1{
    background-image: linear-gradient(to right, #c1230b 0%, #ff5100 51%, #c1900b 100%);
    color: aliceblue;
    text-align: center;
    border-radius: 0px 40px 40px 0px;
    width: 60%;
}
h1:hover{
    background-image: linear-gradient(to right, #c1900b 0%, #ff5100 51%, #c1230b 100%);

}
.sidebar{
    float: right;
    background-color: #bfa14d;
    width: 20%;
    height: auto;
}

footer {
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    height: 20px;
    width: 100%;
    background-color: rgb(34, 255, 0);
    color: rgb(0, 0, 0);
    text-align: center;
}

footer a {
    text-decoration: none;
}